.myInput {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 15px;
  background: rgba(120, 204, 240, 0.3);
  width: 80%;
  color: rgb(66, 64, 64);
}
.myInput::placeholder {
  color: rgb(133, 129, 129);
}
